Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario006-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario008-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

Replace hardcoded gather_facts:no with variable
  common/deploy-steps.j2
  releasenotes/notes/gather-facts-variable-d7f1d74d1dc68ee9.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add HostnameNetworkConfigMap output
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Temporarily add .yaml extension for all-nodes-deployment-hieradata.j2
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Also set nova::network::neutron::dhcp_domain
  deployment/nova/nova-base-puppet.yaml
Due: none

Fix RedisVirtualIP when overrdiing InternalApi name_lower
  network/service_net_map.j2.yaml
  releasenotes/notes/bug-1832461-RedisVirtualIP-and-InternalApi-name-lower-override-7ea2635877b753c7.yaml
Due: none

Remove deprecated NFV environment files
  environments/neutron-ovs-dpdk.yaml
  environments/neutron-sriov.yaml
  environments/ovs-dpdk-permissions.yaml
  environments/services-baremetal/neutron-opendaylight-dpdk.yaml
  environments/services-baremetal/neutron-ovs-dpdk.yaml
  releasenotes/notes/remove_deprecated_nfv_envs-30f6b3552d34d489.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Handle openvswitch meta-package on undercloud upgrade.
  deployment/undercloud/undercloud-upgrade.yaml
Due: none

Add higher retry/delay defaults to check the quorum status.
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario004-standalone.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove incorrect use of PlacementApi in ControllerStorageNfs
  roles/ControllerStorageNfs.yaml
Due: none

Fix network rename + service_net_map_replace
  puppet/role.role.j2.yaml
Due: none

Remove scenario008 jobs
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Set cache_backend for token caching
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove duplicate key in UndercloudExtraConfig
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Explicitly set ansible_python_interpreter in external upgrade playbook
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove extraneous references to RpcXXX parameters
  deployment/aodh/aodh-base.yaml
  deployment/ceilometer/ceilometer-base-container-puppet.yaml
  deployment/cinder/cinder-base.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/heat/heat-base-puppet.yaml
  deployment/ironic/ironic-base-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/manila/manila-base.yaml
  deployment/mistral/mistral-base.yaml
  deployment/neutron/neutron-base.yaml
  deployment/nova/nova-base-puppet.yaml
  deployment/octavia/octavia-base.yaml
  deployment/sahara/sahara-base.yaml
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/tacker/tacker-container-puppet.yaml
Due: none

Fix NovaNfs role parameters
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Fix NovaNfs role parameters
  puppet/services/nova-compute.yaml
Due: none

Handle openvswitch meta-package on undercloud upgrade.
  docker/services/undercloud-upgrade.yaml
Due: none

Fix bare reference of cinder_enable_iscsi_backend
  deployment/cinder/cinder-common-container-puppet.yaml
Due: none

Use ansible for AllNodesValidationConfig
  common/deploy-steps.j2
  overcloud.j2.yaml
  validation-scripts/all-nodes.sh
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use ansible for NetworkConfig
  common/deploy-steps.j2
  puppet/role.role.j2.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use ansible for ArtifactsConfig
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable Request Filter for Image Types
  deployment/nova/nova-scheduler-container-puppet.yaml
  releasenotes/notes/query_placement_for_image_type-0bfbef90bb8c3871.yaml
Due: none

Disable iscsi.service to avoid iscsid on host from getting started
  deployment/iscsid/iscsid-container-puppet.yaml
Due: none

OVS Revalidator and handler threads
  puppet/services/openvswitch.yaml
  releasenotes/notes/ovs-revalidator-handler-threads.yaml-f5a12d1066b042f1.yaml
Due: none

Put on hold the Ansible package update until is fixed
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  deployment/undercloud/undercloud-upgrade.yaml
Due: none

Use ansible for HostsConfig
  common/deploy-steps.j2
  overcloud.j2.yaml
  scripts/hosts-config.sh
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure Cinder has a default volume type
  docker/services/cinder-api.yaml
  puppet/services/cinder-api.yaml
  releasenotes/notes/cinder-default-volume-type-cc21a256202eb476.yaml
Due: none

Add new parameter NovaLiveMigrationWaitForVIFPlug
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/live_migration_wait_for_vif_plug-6d16da261a138fb8.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ^deployment/ceph-ansible.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
