Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario006-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario008-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

Ensure we aren't running some dry-run also for Pacemaker case
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
Due: none

Fix NovaNfs role parameter precedence in conditions
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Fix NovaNfs role parameter precedence in conditions
  puppet/services/nova-compute.yaml
Due: none

Cleanup keystone items
  deployment/keystone/keystone-container-puppet.yaml
Due: none

Correct ceph configuration for scenario 10 environments
  ci/environments/scenario010-standalone.yaml
Due: none

Add cinder credentials to nova conf
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/cinder/cinder-base.yaml
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Clean metrics related environments
  environments/metrics/collect-read-rabbitmq.yaml
  environments/metrics/collectd-standalone.yaml
  environments/metrics/collectd-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Sync the ControllerStorageNfs role with the Controller role
  roles/ControllerStorageNfs.yaml
Due: none

Ironic Inspector - use make_url for db connection
  deployment/ironic/ironic-inspector-container-puppet.yaml
Due: none

Configure server_certs_key_passphrase for Octavia
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/octavia/octavia-base.yaml
  deployment/octavia/octavia-deployment-config.j2.yaml
  environments/services-baremetal/octavia.yaml
  environments/services/octavia.yaml
  releasenotes/notes/generate-server_certs_key_passphrase-229a677df1b7f6e0.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove deprecated Ram/Disk filters in NovaSchedulerDefaultFilters
  environments/cavium-liquidio.yaml
  environments/neutron-ovs-dpdk.yaml
  environments/neutron-sriov.yaml
  environments/ovs-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-dpdk.yaml
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-sriov.yaml
  environments/services-baremetal/neutron-ovs-dpdk.yaml
  environments/services-baremetal/neutron-ovs-hw-offload.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services-docker/neutron-sriov.yaml
  environments/services/neutron-opendaylight-dpdk.yaml
  environments/services/neutron-opendaylight-hw-offload.yaml
  environments/services/neutron-opendaylight-sriov.yaml
  environments/services/neutron-ovs-dpdk.yaml
  environments/services/neutron-ovs-hw-offload.yaml
  environments/services/neutron-sriov.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Activate health checks for cron containers
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/heat/heat-api-container-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/logrotate/logrotate-crond-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
Due: none

Ensure openstack clients are installed
  roles/Controller.yaml
  roles/ControllerAllNovaStandalone.yaml
  roles/ControllerNoCeph.yaml
  roles/ControllerNovaStandalone.yaml
  roles/ControllerOpenstack.yaml
  roles/ControllerStorageNfs.yaml
  roles_data.yaml
Due: none

Set arp_notify to match ndisc_notify
  deployment/kernel/kernel-baremetal-puppet.yaml
Due: none

Try a timesync as part of first boot
  firstboot/userdata_timesync.yaml
  overcloud-resource-registry-puppet.j2.yaml
  overcloud.j2.yaml
Due: none

standalone/undercloud - post: use EndpointMap to fetch Keystone URL
  ci/common/vbmc_setup.yaml
  common/deploy-steps.j2
  extraconfig/post_deploy/default.yaml
  extraconfig/post_deploy/standalone_post.yaml
  extraconfig/post_deploy/undercloud_post.yaml
  releasenotes/notes/endpointmap-8825fcd5fa5a2ba2.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add cinder credentials to nova conf
  puppet/services/cinder-api.yaml
  puppet/services/cinder-base.yaml
  puppet/services/nova-compute.yaml
Due: none

Add {{role.name}}RemovalPoliciesMode parameter
  overcloud.j2.yaml
  releasenotes/notes/add-removal-policies-mode-6869362fbeed2cd2.yaml
Due: none

Override ovn::controller::hostname to use hiera:fqdn_canonical
  deployment/ovn/ovn-controller-container-puppet.yaml
  environments/low-memory-usage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Make NovaResumeGuestsStateOnHostBoot podman compatible
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Set arp_notify to match ndisc_notify
  puppet/services/kernel.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove the iptables rules set via service_config_settings
  deployment/horizon/horizon-container-puppet.yaml
Due: none

Enable serial execution for ansible host
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Set force_config_drive only when OVNMetadata is disabled
  deployment/ovn/ovn-controller-container-puppet.yaml
Due: none

Try a timesync as part of first boot
  firstboot/userdata_timesync.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Add CephAnsibleEnvironmentVariables to nodes-uuid call
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add mkhomedir option to ipa-client-install
  extraconfig/services/ipaclient.yaml
  releasenotes/notes/ipa-mkhomedir-c126291bcbdd0111.yaml
Due: none

Only add internal_api_virtual_ip if InternalApi in network_data
  puppet/all-nodes-config.j2.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ^deployment/ceph-ansible.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
