Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario010-standalone: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-standalone.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*

Create external bridge on Compute nodes by default for OVN with DVR
  network/config/multiple-nics-vlans/role.role.j2.yaml
  network/config/multiple-nics/role.role.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/external-bridge-by-default-on-compute-f3ff6bf46ab80640.yaml
  roles/Controller.yaml
  roles_data.yaml
Due: none

Fix endpoint map tls - zaqar wss port
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

enable ovs_stats and ovs_events plugins for neutron ovs dpdk agent
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
Due: none

Fix pcs restart in composable HA
  docker_config_scripts/pacemaker_restart_bundle.sh
Due: none

[FFWD Ceph] Fix ceph post_upgrade_tasks for osd options
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-mds.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/ceph-ansible/ceph-osd.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Fix wrong description about cinder db purge
  deployment/cinder/cinder-base.yaml
Due: none

Remove all UIConfig endpoints
  environments/ssl/no-tls-endpoints-public-ip.yaml
  environments/ssl/tls-endpoints-public-dns.yaml
  environments/ssl/tls-endpoints-public-ip.yaml
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  network/endpoints/build_endpoint_map.py
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Remove deprecated Manila PGNum parameters
  ci/environments/scenario004-standalone.yaml
  deployment/ceph-ansible/ceph-base.yaml
  environments/low-memory-usage.yaml
  releasenotes/notes/remove-deprecated-manila-ceph-pgnum-parameters-b7bb9c95e30467d5.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Fix up ovn-dbs update tasks
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container

minor update: only migrate HA VIP away when needed
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Revert "Disable Designate service for scenario 03"
  ci/environments/scenario003-standalone.yaml
Due: none

Use UUID for mounted SwiftRawDisks
  deployment/swift/swift-storage-container-puppet.yaml
  releasenotes/notes/swift-mount-by-uuid-7744fe7696db4b85.yaml
Due: none

Modify how libvirt related containers use SELinux
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Modify how libvirt related containers use SELinux
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
  deployment/nova/nova-migration-target-container-puppet.yaml
Due: none

Create Container configs with a new module
  common/deploy-steps-tasks-step-1.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Create container config scripts with a new module
  common/deploy-steps-tasks-step-1.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Use tripleo_network_config
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Enable Ceilometer data transfer for STF
  ci/environments/scenario001-standalone.yaml
  environments/enable-stf.yaml
  environments/metrics/ceilometer-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Expose mistral::rpc_response_timeout as Heat parameter
  deployment/mistral/mistral-base.yaml
Due: none

[ffwd] Don't remove package python2-chardet
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Removed tripleo-ci-centos-7-scenario009-multinode-oooq-container
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

dpdk_telemetry is not used
  deployment/neutron/neutron-ovn-dpdk-config-container-puppet.yaml
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario007-multinode-oooq-container

Set a higher PIDs limit for nova_libvirt container
  deployment/nova/nova-libvirt-container-puppet.yaml
  releasenotes/notes/ContainerNovaLibvirtPidsLimit-cdad2166b6c0195f.yaml
Due: none

Use container_file_t for Cinder*NfsMountOptions by default
  deployment/cinder/cinder-backend-netapp-puppet.yaml
  deployment/cinder/cinder-backup-container-puppet.yaml
  deployment/cinder/cinder-volume-container-puppet.yaml
  environments/cinder-netapp-config.yaml
  environments/storage-environment.yaml
  environments/storage/cinder-netapp-config.yaml
  environments/storage/cinder-nfs.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Re-enable driver agent for scenario 10
  ci/environments/scenario010-standalone.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Run external_deploy_tasks per step for each role
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Use appropriate allocation pools for StorageNFS
  network_data_ganesha.yaml
  releasenotes/notes/fix-allocation-range-for-StorageNFS-net.yaml-bd77be924e8b7056.yaml
Due: none

Avoid failing on deleted file
  container_config_scripts/nova_statedir_ownership.py
  container_config_scripts/tests/test_nova_statedir_ownership.py
Due: none

Avoid failing on deleted file
  docker_config_scripts/nova_statedir_ownership.py
  docker_config_scripts/nova_wait_for_compute_service.py
  docker_config_scripts/nova_wait_for_placement_service.py
  docker_config_scripts/tests/test_nova_statedir_ownership.py
  tox.ini
Due: none

Default to storage_dashboard, when set, for the CephDashboard service
  network/service_net_map.j2.yaml
Due: none
