Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ^deployment/ceph-ansible.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$

Run nova_api unprivileged
  deployment/nova/nova-api-container-puppet.yaml
Due: none

Add parameter ContainerImageRegistryCredentials
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix usage of satellite in organization mode
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
  extraconfig/pre_deploy/rhel-registration/scripts/rhel-registration
Due: none

Deprecate nova-consoleauth service
  deployment/deprecated/nova/nova-consoleauth-container-puppet.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/nova_deprecate_consoleauth-ffb93ffa5393b630.yaml
Due: none

Run octavia external tasks with elevated permissions
  deployment/octavia/octavia-deployment-config.j2.yaml
Due: none

Stop writing /var/lib/container-startup-configs.json
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add mkhomedir option to ipa-client-install
  extraconfig/services/ipaclient.yaml
  releasenotes/notes/ipa-mkhomedir-c126291bcbdd0111.yaml
Due: none

MetricsQdr: Add InternalTLS support
  deployment/metrics/qdr-container-puppet.yaml
Due: none

Add parameter to configure maxdelay in db purge/archive job
  deployment/cinder/cinder-base.yaml
  deployment/nova/nova-api-container-puppet.yaml
  releasenotes/notes/bug-1823274-ca992c1055035c7b.yaml
Due: none

Ensure we get rsyslog state, even in "--check" mode
  deployment/haproxy/haproxy-container-puppet.yaml
Due: none

Enable deep_compare of pcmk resources by default
  puppet/services/pacemaker.yaml
  releasenotes/notes/update-pcmk-resource-by-default-ed54100721f55a30.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Be able to know when we are running inside a minor update workflow
  common/deploy-steps-tasks.yaml
  common/deploy-steps.j2
  releasenotes/notes/minor-update-env-20657417094d4aeb.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Do not restart bundles during a minor update
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Do not restart bundles during a minor update
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Make Ceph RGW accept ResellerAdmin role for administration
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Provide option to disable EMC in puppet-vswitch
  puppet/services/neutron-ovs-agent.yaml
  puppet/services/openvswitch.yaml
  releasenotes/notes/OvsDisableEMC-ab29e5c08856d439.yaml
Due: none

Fix minor typos
  extraconfig/post_deploy/undercloud_post.py
Due: none

Run octavia-api under httpd
  deployment/octavia/octavia-api-container-puppet.yaml
  releasenotes/notes/run-octavia-under-apache-94afa32e4f1ae3e1.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Increase default ulimit values for Neutron agents containers
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
Due: none

Add {{network.name}}NetworkVlanID to THT/net-config-*
  net-config-bond.j2.yaml
  net-config-bridge.j2.yaml
  net-config-linux-bridge.j2.yaml
  net-config-noop.j2.yaml
  net-config-static-bridge-with-external-dhcp.j2.yaml
  net-config-static-bridge.j2.yaml
  net-config-static.j2.yaml
Due: none

Do not archive ceph-ansible fetch directory if it is empty
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure non-pacemaker versions for undercloud
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Set ulimit 16384 for Neutron SR-IOV container
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
Due: none

Ensure we get rsyslog state, even in "--check" mode
  docker/services/haproxy.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

flatten the ovn service configurations
  ci/environments/multinode-containers.yaml
  deployment/ovn/ovn-controller-container-puppet.yaml
  deployment/ovn/ovn-dbs-container-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
  environments/docker-ha.yaml
  environments/neutron-ml2-ovn-ha.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-standalone.yaml
  environments/standalone/standalone-tripleo.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/ovn-controller.yaml
  puppet/services/ovn-dbs.yaml
  puppet/services/ovn-metadata.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Bind mount undercloud.conf with ,z in mistral_executor
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Ensure lvm2 is installed prior to lvm commands
  deployment/cinder/cinder-common-container-puppet.yaml
Due: none

Do not archive ceph-ansible fetch directory if it is empty
  docker/services/ceph-ansible/ceph-base.yaml
Due: none

Bind mount undercloud.conf with ,z in mistral_executor
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq-container

Increase default ulimit values for Neutron agents containers
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/neutron-ovs-agent.yaml
Due: none

flatten the neutron-plugin-mlnx-sdn service
  deployment/neutron/neutron-plugin-ml2-mlnx-sdn-assist-container-puppet.yaml
  docker/services/neutron-plugin-ml2-mlnx-sdn-assist.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Do not set the cell endpoints for regular split-controlplane child stacks
  overcloud.j2.yaml
Due: none

Set Standalone's br-ctlplane MTU
  net-config-standalone.j2.yaml
Due: none

Allow NovaRbdPoolName to be role specific
  deployment/ceph-ansible/ceph-base.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/nova-rbd-pool-role-specific-010f6072d641d84f.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Clean metrics related environments
  environments/metrics/collect-read-rabbitmq.yaml
  environments/metrics/collectd-standalone.yaml
  environments/metrics/collectd-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Set ulimit 16384 for Neutron SR-IOV container
  docker/services/neutron-sriov-agent.yaml
Due: none

Add healthcheck to ironic_pxe_http
  deployment/ironic/ironic-pxe-container-puppet.yaml
Due: none
