Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

implement default ssh-from-ctlplane rule via hiera
  deployment/tripleo-firewall/tripleo-firewall-baremetal-puppet.yaml
Due: none

flatten sshd service configuration
  deployment/sshd/sshd-baremetal-puppet.yaml
  docker/services/nova-migration-target.yaml
  docker/services/sshd.yaml
  environments/baremetal-services.yaml
  overcloud-resource-registry-puppet.j2.yaml
  tools/yaml-validate.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Move cellv2 discovery from control plane services to compute services
  common/services.yaml
  docker/services/nova-api.yaml
  docker/services/nova-compute-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
  docker_config_scripts/nova_cell_v2_discover_host.py
  docker_config_scripts/nova_statedir_ownership.py
  overcloud.j2.yaml
  puppet/all-nodes-config.j2.yaml
Due: none

Explicitly set KVM machine_type for migration compatibility
  puppet/services/nova-compute.yaml
  releasenotes/notes/hw-machine-type-6a0bd7bc3973c15a.yaml
Due: none

Remove unused nova packages from host during upgrade and update
  docker/services/nova-compute.yaml
Due: none

Temporary remove selinux label mount option for neutron
  docker/services/neutron-dhcp.yaml
  docker/services/neutron-l3.yaml
  docker/services/ovn-metadata.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use templating for nova cell database_connection
  docker/services/nova-api.yaml
  releasenotes/notes/nova_templated_cells_db_urls-2eb151090c49c51d.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Add template code to configure hsm backends for barbican
  docker/services/barbican-api.yaml
  environments/barbican-backend-pkcs11-atos.yaml
  environments/barbican-backend-pkcs11-thales.yaml
  environments/barbican-backend-pkcs11.yaml
  puppet/services/barbican-backend-pkcs11-crypto.yaml
  releasenotes/notes/add-barbican-hsm-code-2ceffb2e1c3f6b67.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update kolla_config to deal with keystone fernet key rotation
  docker/services/keystone.yaml
Due: none

Spliting compact services in multiples lines
  extraconfig/nova_metadata/krb-service-principals.j2.yaml
Due: none

Replace scenario004 multinode with standalone
  zuul.d/layout.yaml
Due: none

The monitoring_subscription was lost in translation
  deployment/glance/glance-api-container-puppet.yaml
Due: none

Use calculated undercloud ctlplane DHCP allocation pools
  extraconfig/post_deploy/undercloud_ctlplane_network.py
Due: none

Use mtu of Tenant network to control neutron global_physnet_mtu
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
  puppet/services/neutron-base.yaml
  releasenotes/notes/set-tenant-net-mtu-as-neutron-global-physnet-mtu-5e3515a97e8e0367.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Ironic Inspector - disjoint ip range(s) for HA
  puppet/services/ironic-inspector.yaml
  releasenotes/notes/ironic-inspector-disjoint-inspection-ip-range-f399a938d50daadd.yaml
Due: none

Update auth parameters
  puppet/services/manila-scheduler.yaml
Due: none

Put user data in the main stack
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Add keystone::wsgi::apache::api_port
  puppet/services/keystone.yaml
Due: none

L3 routed networks - data + env (1/3)
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
  network_data_routed.yaml
  network_data_subnets_routed.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

L3 routed networks - network.j2 (2/3)
  network/network.j2
Due: none

Update hacking version
  test-requirements.txt
Due: none

ovn-metadata: Fix bug when upgrading
  docker/services/ovn-metadata.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add Storage network to IronicConductor role
  roles/IronicConductor.yaml
Due: none

Revert "[Ocata/Pike/Queens] Make rhel-registration scripts location absolute."
  extraconfig/pre_deploy/rhel-registration/rhel-registration.yaml
Due: none

Replace tripleo scenario004-multinode with scenario004-standalone
  zuul.d/layout.yaml
Due: none

Remove deprecated workflow resource registry entries
  overcloud-resource-registry-puppet.j2.yaml
Due: none

Fix access to /var/lib/haproxy when SELinux is enabled
  docker/services/haproxy.yaml
Due: none

Ensure we get the right SELinux context for config-data sub-dir
  common/deploy-steps.j2
Due: none

Ensure we get the correct setype for haproxy log dir
  docker/services/haproxy.yaml
Due: none

Prevent service bootstrap node facts from colliding with each other
  deployment/ironic/ironic-api-container-puppet.yaml
  docker/services/cinder-api.yaml
  docker/services/nova-api.yaml
  docker/services/pacemaker/cinder-backup.yaml
  docker/services/pacemaker/cinder-volume.yaml
  docker/services/pacemaker/database/mysql.yaml
  docker/services/pacemaker/database/redis.yaml
  docker/services/pacemaker/haproxy.yaml
  docker/services/pacemaker/manila-share.yaml
  docker/services/pacemaker/notify-rabbitmq.yaml
  docker/services/pacemaker/ovn-dbs.yaml
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
  puppet/services/gnocchi-api.yaml
  puppet/services/haproxy-public-tls-inject.yaml
  puppet/services/nova-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

update datatype for "OctaviaFlavorId"
  puppet/services/octavia-controller.yaml
Due: none

Bind mount /var/lib/iscsi in containers using iSCSI
  deployment/glance/glance-api-container-puppet.yaml
  docker/services/cinder-common.yaml
  docker/services/iscsid.yaml
  docker/services/multipathd.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-ironic.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix bind mount for glance-api's service directory
  deployment/glance/glance-api-container-puppet.yaml
Due: none

fix typo in ansible module name in "upgrade_tasks" of octavia*
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^docker/services/aodh.*$, ^docker/services/ceilometer.*$, ^docker/services/ceph.*$, ^docker/services/cinder.*$, ^docker/services/congress.*$, ^docker/services/glance.*$, ^docker/services/gnocchi.*$, ^docker/services/logging.*$, ^docker/services/metrics.*$, ^docker/services/monitoring.*$, ^docker/services/panko.*$, ^docker/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^docker/services/aodh.*$, ^docker/services/barbican.*$, ^docker/services/ceilometer.*$, ^docker/services/cinder.*$, ^docker/services/ec2-api.*$, ^docker/services/glance.*$, ^docker/services/gnocchi.*$, ^docker/services/panko.*$, ^docker/services/swift.*$, ^docker/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml
