Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^docker/services/aodh.*$, ^docker/services/ceilometer.*$, ^docker/services/ceph.*$, ^docker/services/cinder.*$, ^docker/services/congress.*$, ^docker/services/glance.*$, ^docker/services/gnocchi.*$, ^docker/services/logging.*$, ^docker/services/metrics.*$, ^docker/services/monitoring.*$, ^docker/services/panko.*$, ^docker/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^docker/services/aodh.*$, ^docker/services/barbican.*$, ^docker/services/ceilometer.*$, ^docker/services/cinder.*$, ^docker/services/ec2-api.*$, ^docker/services/glance.*$, ^docker/services/gnocchi.*$, ^docker/services/panko.*$, ^docker/services/swift.*$, ^docker/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Allow to run docker-puppet.py with SELinux enabled
  docker/docker-puppet.py
Due: none

Change step to start nova placement and make compute wait for it
  docker/services/nova-compute-common.yaml
  docker/services/nova-compute.yaml
  docker/services/nova-placement.yaml
  docker_config_scripts/nova_wait_for_placement_service.py
Due: none

Move set of database_connection to OctaviaBase
  docker/services/octavia-health-manager.yaml
  docker/services/octavia-housekeeping.yaml
  docker/services/octavia-worker.yaml
  puppet/services/octavia-api.yaml
  puppet/services/octavia-base.yaml
Due: none

docker: wire SELinuxMode with Ansible vars
  puppet/services/docker.yaml
Due: none

Perform docker reconfiguration on upgrade_tasks.
  puppet/services/docker-registry.yaml
  puppet/services/docker.yaml
Due: none

puppet_config for rabbitmq_bundle needs file_line
  docker/services/pacemaker/rabbitmq.yaml
  docker/services/pacemaker/rpc-rabbitmq.yaml
Due: none

Force rhsm re-registration during upgrades.
  extraconfig/services/rhsm.yaml
Due: none

Run local registry and prep cont at standalone
  environments/standalone/standalone-tripleo.yaml
  roles/Standalone.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove nic for storage_mgt network
  ci/environments/network/multiple-nics/nic-configs/compute.yaml
Due: none

Replace confusing usage of update_identifier
  common/deploy-steps.j2
  puppet/all-nodes-config.j2.yaml
Due: none

Check for available networks for a role
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Fix multiple-nic sample template
  network/config/multiple-nics/role.role.j2.yaml
Due: none

Ironic Inspector - disjoint ip range(s) for HA
  puppet/services/ironic-inspector.yaml
  releasenotes/notes/ironic-inspector-disjoint-inspection-ip-range-f399a938d50daadd.yaml
Due: none

Remove deploy steps on empty roles
  common/deploy-steps.j2
  overcloud.j2.yaml
Due: none

Ensure we get dedicated logging file for HAProxy
  common/deploy-steps-tasks.yaml
  docker/services/haproxy.yaml
  docker/services/pacemaker/haproxy.yaml
  puppet/services/haproxy.yaml
  puppet/services/pacemaker/haproxy.yaml
  releasenotes/notes/haproxy-log-2805e3697cbadf49.yaml
Due: none

Enable image import plugins & image output format
  docker/services/glance-api.yaml
  puppet/services/glance-api.yaml
  releasenotes/notes/enable_image_conversion_parameters-740e5282385444c7.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add a dual-bond example NIC config template
  environments/net-2-linux-bonds-with-vlans.j2.yaml
  network/config/2-linux-bonds-vlans/README.md
  network/config/2-linux-bonds-vlans/role.role.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

mistral-executor: bind-mount undercloud.conf when validations are enabled
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

ceilometer: --skip-metering-database is gone
  docker/services/ceilometer-agent-central.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Handle missing or bad dmidecode
  docker/services/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix access to /var/lib/haproxy when SELinux is enabled
  docker/services/haproxy.yaml
Due: none

Spliting compact services in multiples lines
  extraconfig/nova_metadata/krb-service-principals.j2.yaml
Due: none

Enable support for openidc federation in keystone
  environments/enable-federation-openidc.yaml
  puppet/services/keystone.yaml
  sample-env-generator/openidc.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix misnaming of service in firewall rule
  puppet/services/octavia-health-manager.yaml
  releasenotes/notes/fix-octavia-health-manager-firewall-rule-cdffe31d580ecf4b.yaml
Due: none

Allow to skip docker reconfiguration during stack update
  puppet/services/docker.yaml
  roles/OpenShiftAllInOne.yaml
  roles/OpenShiftInfra.yaml
  roles/OpenShiftMaster.yaml
  roles/OpenShiftWorker.yaml
Due: none

Set container images for openshift 3.11
  extraconfig/services/openshift-master.yaml
Due: none

Remove invalid comment in ips-from-pool-ctlplane
  environments/ips-from-pool-ctlplane.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix service naming conventions
  deployment/aodh/aodh-api-container-puppet.yaml
  deployment/aodh/aodh-evaluator-container-puppet.yaml
  deployment/aodh/aodh-listener-container-puppet.yaml
  deployment/aodh/aodh-notifier-container-puppet.yaml
  deployment/timesync/chrony-baremetal-ansible.yaml
  environments/baremetal-services.yaml
  overcloud-resource-registry-puppet.j2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add deployments/README.rst
  deployment/README.rst
Due: none

Flatten Keepalived service configuration
  deployment/keepalived/keepalived-container-puppet.yaml
  environments/openshift.yaml
  environments/services-baremetal/undercloud-keepalived.yaml
  environments/services/undercloud-keepalived.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/keepalived.yaml
  releasenotes/notes/drop-baremetal-keepalived-c48cde2007b372a4.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Fix and consolidate cinder-backup host prep tasks
  docker/services/cinder-backup.yaml
  docker/services/cinder-common.yaml
  docker/services/pacemaker/cinder-backup.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix Octavia hieradata keys
  puppet/services/octavia-api.yaml
  puppet/services/octavia-controller.yaml
  puppet/services/octavia-health-manager.yaml
  puppet/services/octavia-housekeeping.yaml
  puppet/services/octavia-worker.yaml
Due: none

Drop baremetal job template
  zuul.d/layout.yaml
Due: none

Add TunedCustomProfile parameter and HCI Ceph filestore environment
  environments/tuned-ceph-filestore-hci.yaml
  puppet/services/tuned.yaml
  releasenotes/notes/tuned_custom_profile-25d1f4a2bc217216.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow for service_bootstrap_ips empty list in IpListMap
  overcloud.j2.yaml
Due: none

Update tuned profile variable configuration file if it exists
  extraconfig/pre_network/boot_param_tasks.yaml
Due: none
