Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario006-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario008-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

Set debug level of nova container_config_scripts only when enabled
  container_config_scripts/nova_cell_v2_discover_hosts.py
  container_config_scripts/nova_statedir_ownership.py
  container_config_scripts/nova_wait_for_compute_service.py
  container_config_scripts/nova_wait_for_placement_service.py
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Switch off nova metadata api on the undercloud
  environments/undercloud.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

ensure /var/run/redis is present upon reboot
  deployment/database/redis-container-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
Due: none

ensure /var/run/redis is present upon reboot
  docker/services/database/redis.yaml
  docker/services/pacemaker/database/redis.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Change setype for non container /var/log/<service> directories
  docker/services/logging/files/barbican-api.yaml
  docker/services/logging/files/heat-api-cfn.yaml
  docker/services/logging/files/heat-api.yaml
  docker/services/logging/files/heat-engine.yaml
  docker/services/logging/files/keystone.yaml
  docker/services/logging/files/neutron-api.yaml
  docker/services/logging/files/neutron-common.yaml
  docker/services/logging/files/nova-api.yaml
  docker/services/logging/files/nova-common.yaml
  docker/services/logging/files/nova-metadata.yaml
  docker/services/logging/files/opendaylight-api.yaml
  docker/services/logging/files/panko-api.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Update .gitreview for stable/stein
  .gitreview
Due: none

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: none

Remove ceph-ansible fetch directory as privileged user
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Adjust deployed-server install package list for RHEL8
  deployed-server/deployed-server-bootstrap-rhel.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Avoid issues with non-existing directories
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Add parameter to configure maxdelay in db purge/archive job
  puppet/services/cinder-base.yaml
  puppet/services/nova-base.yaml
  releasenotes/notes/bug-1823274-ca992c1055035c7b.yaml
Due: none

Change setype for non container /var/log/<service> directories
  deployment/logging/files/barbican-api.yaml
  deployment/logging/files/heat-api-cfn.yaml
  deployment/logging/files/heat-api.yaml
  deployment/logging/files/heat-engine.yaml
  deployment/logging/files/keystone.yaml
  deployment/logging/files/neutron-api.yaml
  deployment/logging/files/neutron-common.yaml
  deployment/logging/files/nova-api.yaml
  deployment/logging/files/nova-common.yaml
  deployment/logging/files/nova-metadata.yaml
  deployment/logging/files/opendaylight-api.yaml
  deployment/logging/files/panko-api.yaml
Due: none

Change setype for non container /var/log/nova-placement
  deployment/logging/files/nova-placement.yaml
Due: none

Propagate AdditionalArchitectures to container image prepare
  deployment/container-image-prepare/container-image-prepare-baremetal-ansible.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Change setype for non container /var/log/nova-placement
  docker/services/logging/files/nova-placement.yaml
Due: none

Remove ceph-ansible fetch directory after it is saved
  docker/services/ceph-ansible/ceph-base.yaml
Due: none

Use timesync service
  ci/environments/multinode-3nodes.yaml
  ci/environments/multinode-containers.yaml
  ci/environments/scenario000-multinode-containers.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario002-multinode-containers.yaml
  ci/environments/scenario003-multinode-containers.yaml
  ci/environments/scenario004-multinode-containers.yaml
  ci/environments/scenario006-multinode-containers.yaml
  ci/environments/scenario006-multinode.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario008-multinode-containers.yaml
  ci/environments/scenario009-multinode.yaml
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario012-multinode-containers.yaml
  deployed-server/deployed-server-roles-data.yaml
  roles/CellController.yaml
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
  roles/ControllerOpenstack.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove NTP
  deployment/time/ntp-baremetal-puppet.yaml
  environments/services/ptp.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/remove-ntp-20905abec5281f54.yaml
  sample-env-generator/composable-roles.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix cinder-backup deployment templates
  deployment/cinder/cinder-backup-container-puppet.yaml
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
Due: none

Enable Podman Service For Lacking Roles
  roles/CellController.yaml
  roles/ComputeOvsDpdkSriov.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
Due: none

Revert "mistral: configure heartbeat parameters to avoid action timeout"
  deployment/mistral/mistral-base.yaml
  environments/undercloud.yaml
  releasenotes/notes/mistral_timeout-c00344d5b3d8c4b0.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use oslo_messaging_rpc_port for nova rpc healthchecks
  deployment/nova/nova-ironic-container-puppet.yaml
Due: none

Scale-down tasks for nova-compute
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Set configure_delegated_roles a parameter
  ci/environments/scenario001-standalone.yaml
  deployment/heat/heat-engine-container-puppet.yaml
Due: none

Enable ndisc_notify sysctl setting to notify of MAC changes
  deployment/kernel/kernel-baremetal-puppet.yaml
Due: none

Copy keys for tripleo-admin user
  deployment/mistral/mistral-executor-container-puppet.yaml
Due: none

Clean up leftover mount point after docker stop.
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Enable serial execution for ansible host
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Revert "Switch off nova metadata api on the undercloud"
  environments/undercloud.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ^deployment/ceph-ansible.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
