Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ^deployment/ceph-ansible.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$

[stable queens/pike] Use server_not_blacklisted condition
  puppet/role.role.j2.yaml
Due: none

Fix custom network.name_lower in krb-service-principals
  extraconfig/nova_metadata/krb-service-principals/role.role.j2.yaml
  releasenotes/notes/fix-custom-netname-lower-and-tls-everywhere-1f2300f9a2ba4d98.yaml
Due: none

Make krb-service-principal metadata per-Role
  common/services/role.role.j2.yaml
  environments/ssl/enable-internal-tls.j2.yaml
  extraconfig/nova_metadata/krb-service-principals/role.role.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  overcloud.j2.yaml
  sample-env-generator/ssl.yaml
  tools/check-up-to-date.sh
  tools/process-templates.py
  tools/yaml-diff.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Correct ceph configuration for scenario 10 environments
  ci/environments/scenario010-standalone.yaml
Due: none

Configure server_certs_key_passphrase for Octavia
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
  deployment/octavia/octavia-base.yaml
  deployment/octavia/octavia-deployment-config.j2.yaml
  environments/services-baremetal/octavia.yaml
  environments/services/octavia.yaml
  releasenotes/notes/generate-server_certs_key_passphrase-229a677df1b7f6e0.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

krb-service-principals support service_net_map_replace
  extraconfig/nova_metadata/krb-service-principals/role.role.j2.yaml
Due: none

Switch to use $NETWORK_uri for memcached
  deployment/memcached/memcached-container-puppet.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add CephAnsibleEnvironmentVariables to nodes-uuid call
  docker/services/ceph-ansible/ceph-base.yaml
Due: none

Adapt sensu on refactor
  deployment/deprecated/monitoring/sensu-client-container-puppet.yaml
Due: none

Record libvirt log using rsyslog running on host
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Do not bind /run on host to nova_migration_target
  deployment/nova/nova-migration-target-container-puppet.yaml
Due: none

Fix ssl.yaml generating GaneshaInternal in the endpoint map
  environments/ssl/tls-everywhere-endpoints-dns.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Run collectd socket cleanup on container start
  puppet/services/metrics/collectd.yaml
Due: none

Remove the iptables rules set via service_config_settings
  puppet/services/horizon.yaml
Due: none

Delete the stale and incorrect ovn environment files
  environments/neutron-ml2-ovn-dvr-ha.yaml
  environments/neutron-ml2-ovn-ha.yaml
  releasenotes/notes/deprecated-vn-ha-env-files-f0d967d173dcdb16.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Respect tags in upgrade tasks
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Reintroduce upgrade tasks for stopping pacemaker cluster
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
Due: none

Add operating system upgrade preparation via Leapp
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: none

Refactor ovn_dbs upgrade_tasks.
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: none

Remove baremetal to containerized pacemaker upgrade_tasks.
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: none

Remove OpenStack packages right before upgrading the operating system
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: none

Convert tuned puppet to ansible
  deployment/deprecated/tuned/tuned-baremetal-puppet.yml
  deployment/tuned/tuned-baremetal-ansible.yaml
  extraconfig/pre_network/boot-params-service.yaml
  extraconfig/pre_network/boot_param_tasks.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/tuned-baremetal-puppet-deprecated-3e97347917905254.yaml
Due: none

Remove unnecessary openldap-clients package from overcloud controllers
  extraconfig/services/ipaclient.yaml
Due: none

ceph-base: Update ceph-ansible default playbook
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Convert aide puppet to ansible
  deployment/aide/aide-baremetal-ansible.yaml
  deployment/deprecated/aide/aide-baremetal-puppet.yaml
  releasenotes/notes/aide-baremetal-puppet-deprecated-25388c875e1d9884.yaml
Due: none

Fix netapp deployment manifest
  environments/manila-netapp-config.yaml
  releasenotes/notes/bug-1831122-fix-netapp-env-file-e5aeb0c2bf417d2b.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move openvswitch into deployments
  deployment/deprecated/opendaylight/opendaylight-ovs-baremetal-puppet.yaml
  deployment/neutron/neutron-ovs-dpdk-agent-container-puppet.yaml
  deployment/openvswitch/openvswitch-baremetal-puppet.yaml
Due: none

Move auditd, ca-cert, certmonger to deployment
  deployment/auditd/auditd-baremetal-puppet.yaml
  deployment/certs/ca-certs-baremetal-puppet.yaml
  deployment/certs/certmonger-user-baremetal-puppet.yaml
  environments/auditd.yaml
  environments/ssl/enable-internal-tls.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move masq-nets, swift-external, and validations to deployment
  deployment/masquerade-networks/masquerade-networks-baremetal-puppet.yaml
  deployment/swift/external-swift-proxy-baremetal-puppet.yaml
  deployment/validations/tripleo-validations-baremetal-puppet.yaml
  environments/services/masquerade-networks.yaml
  environments/swift-external.yaml
  environments/tripleo-validations.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move vpp, and veritas-hyperscale into deployment
  deployment/veritas-hyperscale/veritas-hyperscale-controller-baremetal-puppet.yaml
  deployment/vpp/vpp-baremetal-puppet.yaml
  environments/neutron-ml2-vpp.yaml
  environments/services/vpp.yaml
  environments/veritas-hyperscale/veritas-hyperscale-config.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move compute-instanceha, neutron-ovn-dvr-ha to deployments
  deployment/pacemaker/compute-instanceha-baremetal-puppet.yaml
  deployment/pacemaker/ovn-dbs-baremetal-puppet.yaml
  environments/compute-instanceha.yaml
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Move puppet/services/README and releasenotes
  deployment/README.rst
  puppet/services/README.rst
  releasenotes/notes/add-opendaylight-inactivity-probe-config-a89f6dcd204192a8.yaml
  releasenotes/notes/deprecate-opendaylight-service-64b960923324edc4.yaml
Due: none

Make node_ips generic in the Heat template
  network/ports/net_ip_list_map.j2.yaml
  overcloud.j2.yaml
Due: none

Fix haproxy stats network binding
  deployment/haproxy/haproxy-container-puppet.yaml
  network/service_net_map.j2.yaml
Due: none

Add support for Ironic Conductor Groups
  deployment/ironic/ironic-conductor-container-puppet.yaml
  releasenotes/notes/ironic-conductor-groups-577543f8ca612f06.yaml
Due: none

Fix haproxy stats network binding
  network/service_net_map.j2.yaml
  puppet/services/haproxy.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container
