Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario010-standalone: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-standalone.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*

minor update: only migrate HA VIP away when needed
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Re-enable driver agent for scenario 10
  ci/environments/scenario010-standalone.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Set a higher PIDs limit for nova_libvirt container
  deployment/nova/nova-libvirt-container-puppet.yaml
  releasenotes/notes/ContainerNovaLibvirtPidsLimit-cdad2166b6c0195f.yaml
Due: none

Default to storage_dashboard, when set, for the CephDashboard service
  network/service_net_map.j2.yaml
Due: none

Remove remaining Skydive references
  roles/ControllerSriov.yaml
Due: none

Remove usage of RetryFilter
  environments/cavium-liquidio.yaml
  environments/ovs-hw-offload.yaml
  environments/services-baremetal/neutron-sriov.yaml
  environments/services/neutron-mlnx-agent.yaml
  environments/services/neutron-ovn-sriov.yaml
  environments/services/neutron-sriov.yaml
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Create OVNMacAddrNet network on Undercloud
  environments/standalone/standalone-overcloud.yaml
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  environments/undercloud/undercloud-minion.yaml
  network/networks.j2.yaml
  network/ovn_mac_addr_net.yaml
  network/ports/ovn_mac_addr_port.yaml
  overcloud-resource-registry-puppet.j2.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

OVNChassisMacPorts for distributed VLAN
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Remove remaining Skydive references
  roles/ControllerSriov.yaml
  roles/NetworkerSriov.yaml
Due: none

Re-enable driver agent for scenario 13
  ci/environments/scenario013-standalone.yaml
Due: none

Use appropriate allocation pools for StorageNFS
  network_data_ganesha.yaml
  releasenotes/notes/fix-allocation-range-for-StorageNFS-net.yaml-bd77be924e8b7056.yaml
Due: none

Expose max_concurrent_builds as a Heat parameter
  deployment/nova/nova-ironic-container-puppet.yaml
  releasenotes/notes/nova-max_concurrent_builds-f900d84f35704452.yaml
Due: none

Ironic role_specific parameters
  deployment/ironic/ironic-conductor-container-puppet.yaml
Due: none

Remove Etcd from DCN roles that don't need it
  roles/DistributedCompute.yaml
  roles/DistributedComputeHCI.yaml
  roles/DistributedComputeHCIScaleOut.yaml
  roles/DistributedComputeScaleOut.yaml
Due: none

Fix nCipher (aka thales) ansible role name
  deployment/barbican/barbican-api-container-puppet.yaml
Due: none

DCN: use FQDN in glance endpoint with internal TLS
  deployment/glance/glance-api-edge-container-puppet.yaml
  deployment/haproxy/haproxy-edge-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

[ffwd] Add fix for OVN DB vip change
  deployment/ovn/ovn-controller-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario007-multinode-oooq-container

Expose Innodb_buffer_pool_size
  deployment/database/mysql-base.yaml
  releasenotes/notes/innodb-tuning-param-e71d2fd727c450ec.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

[Train Only] Renamve tripleo_upgrade_hiera into tripleo-upgrade-hiera.
  deployment/ceph-ansible/ceph-nfs.yaml
  deployment/pacemaker/pacemaker-remote-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario010-standalone

Use container_file_t for Cinder*NfsMountOptions by default
  deployment/cinder/cinder-backend-netapp-puppet.yaml
  deployment/cinder/cinder-backup-container-puppet.yaml
  deployment/cinder/cinder-volume-container-puppet.yaml
  environments/cinder-netapp-config.yaml
  environments/storage-environment.yaml
  environments/storage/cinder-netapp-config.yaml
  environments/storage/cinder-nfs.yaml
  sample-env-generator/storage.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Change multinode CI to use default location for amphora images
  ci/environments/scenario010-multinode-containers.yaml
Due: none

pcs commands on host: haproxy bundle
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: mysql
  deployment/database/mysql-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: rabbitmq
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Add new ansible tag for network configuration
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Enable collectd-ceph plugin only where needed
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/ceph-ansible/ceph-osd.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

reno only - ironic role specific parameters
  releasenotes/notes/ironic-role-specifc-conductor-group-and-networks-9c5c409253ebe3c8.yaml
Due: none

Mount libpod container volume into collectd container
  deployment/metrics/collectd-container-puppet.yaml
Due: none

remove scenario009 from stein periodic
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Make sure IPA has the right ACI
  deployment/etcd/etcd-container-puppet.yaml
Due: none

pcs commands on host: manila-share
  deployment/manila/manila-share-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Add post_upgrade_task and remove puppet-ceph pkg
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-8-scenario010-standalone
