Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario010-standalone: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-standalone.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*

Mount libpod container volume into collectd container
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Add pacemaker& clustercheck in multinode scenario
  ci/environments/multinode-containers.yaml
Due: none

Expose new parameter `NovaVGPUTypesDeviceAddressesMapping`
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/vgpu-devices-mapping-63dd870f3a00a98a.yaml
Due: none

Fix Flakes and lower-constraints errors
  container_config_scripts/tests/test_nova_statedir_ownership.py
  lower-constraints.txt
  test-requirements.txt
  tools/render-ansible-tasks.py
  tools/yaml-validate.py
  tox.ini
Due: none

Make sure we noop the Mysql_ providers
  deployment/database/mysql-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Make sure we noop the Rabbitmq_ providers
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: haproxy bundle
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: mysql
  deployment/database/mysql-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: manila-share
  deployment/manila/manila-share-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: cinder backup/volume
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: ovn dbs
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container

pcs commands on host: redis bundle
  deployment/database/redis-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

pcs commands on host: rabbitmq
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Bind mount /var/lib/container-config-scripts inside the restart bundles
  deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
  deployment/containers-common.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
  deployment/database/redis-pacemaker-puppet.yaml
  deployment/haproxy/haproxy-pacemaker-puppet.yaml
  deployment/manila/manila-share-pacemaker-puppet.yaml
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-notify-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-pacemaker-puppet.yaml
  deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container

Complete missing description
  deployment/nova/nova-compute-container-puppet.yaml
Due: none

Decrease Swift proxy timeouts for GET/HEAD requests
  deployment/swift/swift-proxy-container-puppet.yaml
  releasenotes/notes/swift-proxy-recoverable-node-timeout-1fcd7a83f983e61b.yaml
Due: none

python3-novaclient installation via THT
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Adapt container health check for built-in podman health checks
  container_config_scripts/monitoring/collectd_check_health.py
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Memcached collectd plugin uses host URI instead of IP address.
  deployment/memcached/memcached-container-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Gather more extra stats with the collectd virt plugin
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Add tag's with network_data info to neutron net
  network/network.j2
Due: none

Add dashboard_tls_external ceph-ansible parameter
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Fix typos
  container_config_scripts/pyshim.sh
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/neutron/neutron-metadata-container-puppet.yaml
  deployment/neutron/neutron-ovs-agent-container-puppet.yaml
  deployment/neutron/neutron-sriov-agent-container-puppet.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
  scripts/check-run-nova-compute
  tripleo_heat_templates/tests/test_tht_ansible_syntax.yml
Due: none

Get the CIDR of the neutron port for NetworkConfig
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/bug-1895899-8d675670a0d05c15.yaml
Due: none

Rename external network VIP, drop special case
  overcloud.j2.yaml
Due: none

Add tripleo-iptables service cleanup
  deployment/tripleo-firewall/tripleo-firewall-baremetal-ansible.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Remove race during mysql database creation
  deployment/database/mysql-container-puppet.yaml
  deployment/database/mysql-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Fix up ovn-dbs update tasks
  deployment/ovn/ovn-dbs-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container

Check only role path for NetworkConfig
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

[TRAIN-ONLY] Remove OVNDBs from multinode sc file
  ci/environments/multinode-containers.yaml
Due: none

Revert "Disable Designate service for scenario 03"
  ci/environments/scenario003-standalone.yaml
Due: none

Force container fetch
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Use consistent naming for MysqlInnodbBufferPoolSize
  deployment/database/mysql-base.yaml
  releasenotes/notes/innodb-tuning-param-e71d2fd727c450ec.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

enable-ssh-admin: allow to override plan name
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone
