Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^docker/services/aodh.*$, ^docker/services/ceilometer.*$, ^docker/services/ceph.*$, ^docker/services/cinder.*$, ^docker/services/congress.*$, ^docker/services/glance.*$, ^docker/services/gnocchi.*$, ^docker/services/logging.*$, ^docker/services/metrics.*$, ^docker/services/monitoring.*$, ^docker/services/panko.*$, ^docker/services/tacker.*$, ci/environments/scenario001-multinode-containers.yaml, ci/pingtests/scenario001.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^docker/services/aodh.*$, ^docker/services/barbican.*$, ^docker/services/ceilometer.*$, ^docker/services/cinder.*$, ^docker/services/ec2-api.*$, ^docker/services/glance.*$, ^docker/services/gnocchi.*$, ^docker/services/panko.*$, ^docker/services/swift.*$, ^docker/services/zaqar.*$, ci/environments/scenario002-multinode-containers.yaml, ci/pingtests/scenario002.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^docker/services/glance.*$, ^docker/services/mistral.*$, ^docker/services/sahara.*$, ci/environments/scenario003-multinode-containers.yaml, ci/pingtests/scenario003.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-multinode-containers.yaml, ci/pingtests/scenario004.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ci/pingtests/scenario007-multinode.yaml, ^docker/services/.*ovn.*$, ^environments\/.*.yaml
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^environments/.*opendaylight.*$, ^puppet/services/.*opendaylight.*$, ci/environments/scenario008-multinode.yaml, ci/pingtests/scenario008-multinode.yaml
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml

Enable ironic-inspector support in ironic when enabling ironic-inspector
  environments/services/ironic-inspector.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

neutron-cleanup skips ports marked skip_cleanup=true
  docker/services/neutron/neutron-cleanup
Due: none

Mount puppet-generated directory for tripleo-validations
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Update yaml-validate for deployment/ folders
  tools/yaml-validate.py
Due: none

Flatten Aodh service configuration
  deployment/aodh/aodh-api-container.yaml
  deployment/aodh/aodh-base.yaml
  deployment/aodh/aodh-evaluator-container.yaml
  deployment/aodh/aodh-listener-container.yaml
  deployment/aodh/aodh-notifier-container.yaml
  environments/baremetal-services.yaml
  environments/services-baremetal/undercloud-aodh.yaml
  environments/services/undercloud-aodh.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/aodh-api.yaml
  puppet/services/aodh-evaluator.yaml
  puppet/services/aodh-listener.yaml
  puppet/services/aodh-notifier.yaml
  releasenotes/notes/drop-baremetal-aodh-22cb1dfc59204427.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Disable pacemaker on multinode-containers (fs010)
  ci/environments/multinode-containers.yaml
Due: none

Fix Swift S3 API configuration
  puppet/services/swift-proxy.yaml
Due: none

Remove CephAnsibleSkipTags from scenario1/4 standalone ci envs
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario004-standalone.yaml
Due: none

Add support for cinder NFS snapshots
  puppet/services/cinder-volume.yaml
  releasenotes/notes/add-cinder-nfs-snapshot-support-16664aa46a67a5ad.yaml
Due: none

Standalone: Disable persisting VIPs on /etc/hosts
  environments/standalone/standalone-tripleo.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Re-implement keepalived restart without pre_deploy
  docker/services/keepalived.yaml
  environments/undercloud.yaml
  extraconfig/pre_deploy/undercloud_pre.sh
  extraconfig/pre_deploy/undercloud_pre.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Invoke redhat-subscription role during upgrade.
  extraconfig/services/rhsm.yaml
Due: none

Set facter variable 'uuid' explicitly in docker-puppet.py
  docker/docker-puppet.py
  puppet/extraconfig/pre_deploy/per_node.yaml
Due: none

Introduce container_cli hiera key
  puppet/all-nodes-config.j2.yaml
Due: none

Add networking-ansible ML2 plugin support
  capabilities-map.yaml
  docker/services/neutron-plugin-ml2-ansible.yaml
  environments/neutron-ml2-ansible.yaml
  environments/services/neutron-ml2-ansible.yaml
  overcloud-resource-registry-puppet.j2.yaml
  puppet/services/neutron-plugin-ml2-ansible.yaml
  releasenotes/notes/add-networking-ansible-containerized-de68f6c2fd6e05fc.yaml
  releasenotes/notes/ml2-networking-ansible-0330b1203f0fc75c.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

mistral-executor: bind-mount undercloud.conf when validations are enabled
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Remove HostPrepConfig
  common/deploy-steps.j2
  releasenotes/notes/host_prep_config_removal-f579718021db5385.yaml
Due: none

Put user data in the main stack
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Lower mistral-executor nofile to 1024
  docker/services/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container

Removing the deprecated environment files for hw offloading
  environments/neutron-ml2-ovn-hw-offload.yaml
  environments/services-baremetal/neutron-opendaylight-hw-offload.yaml
  environments/services-baremetal/neutron-ovn-hw-offload.yaml
  environments/services-baremetal/neutron-ovs-hw-offload.yaml
  environments/services/neutron-opendaylight-hw-offload.yaml
  environments/services/neutron-ovn-hw-offload.yaml
  environments/services/neutron-ovs-hw-offload.yaml
  releasenotes/notes/deprecation-573102-e63aeba5930adf28.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container

ctlplane pre-alloc IPs - deprecated/non-deprecated role name
  puppet/role.role.j2.yaml
Due: none

Run collectd socket cleanup on container start
  puppet/services/metrics/collectd.yaml
Due: none

Allow to run docker-puppet.py with SELinux enabled
  docker/docker-puppet.py
Due: none

Use correct permission on Gnocchi tmp dir
  docker/services/gnocchi-api.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add hosts to expected ansible groups
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
Due: none

Remove nic for storage_mgt network
  ci/environments/network/multiple-nics/nic-configs/compute.yaml
Due: none

Check for available networks for a role
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  roles/Standalone.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Add ignore_errors to step0 validation nova_wsgi
  docker/services/nova-api.yaml
Due: none

Fixed package name to mariadb-galera-server
  docker/services/pacemaker/database/mysql.yaml
Due: none

Remove invalid comment in ips-from-pool-ctlplane
  environments/ips-from-pool-ctlplane.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Switch debug to use logging classes
  deployment/aodh/aodh-base.yaml
  puppet/services/ceilometer-base.yaml
  puppet/services/cinder-base.yaml
  puppet/services/congress.yaml
  puppet/services/designate-base.yaml
  puppet/services/glance-api.yaml
  puppet/services/gnocchi-base.yaml
  puppet/services/heat-base.yaml
  puppet/services/ironic-base.yaml
  puppet/services/ironic-inspector.yaml
  puppet/services/keystone.yaml
  puppet/services/manila-base.yaml
  puppet/services/mistral-base.yaml
  puppet/services/neutron-base.yaml
  puppet/services/nova-base.yaml
  puppet/services/octavia-base.yaml
  puppet/services/panko-base.yaml
  puppet/services/sahara-base.yaml
  puppet/services/tacker.yaml
Due: none

Add ansible python interpreter configuration support
  common/deploy-steps.j2
Due: none

Remove console as opendaylight log mechanism
  environments/services-baremetal/neutron-opendaylight.yaml
  environments/services-docker/neutron-opendaylight.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container

Fix - ApacheServiceBase needs ServiceData
  docker/services/gnocchi-api.yaml
  docker/services/tripleo-ui.yaml
  puppet/services/nova-api.yaml
  puppet/services/nova-metadata.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Added Dell EMC SC multipath support
  environments/cinder-dellsc-config.yaml
  puppet/services/cinder-backend-dellsc.yaml
  releasenotes/notes/dellsc-driver-d7cd300a24a64b01.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add TunedCustomProfile parameter and HCI Ceph filestore environment
  environments/tuned-ceph-filestore-hci.yaml
  puppet/services/tuned.yaml
  releasenotes/notes/tuned_custom_profile-25d1f4a2bc217216.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container
