Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

tripleo-ci-centos-7-scenario006-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario008-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

tripleo-ci-centos-7-scenario010-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8

Request certificate for using host service principals
  docker/services/database/redis.yaml
  puppet/services/database/mysql.yaml
  puppet/services/haproxy-internal-tls-certmonger.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Fix undefined variable python_interpreter
  extraconfig/services/ipaclient.yaml
Due: none

Add {{role.name}}RemovalPoliciesMode parameter
  overcloud.j2.yaml
  releasenotes/notes/add-removal-policies-mode-6869362fbeed2cd2.yaml
Due: none

Add panko_api_cron container
  deployment/deprecated/panko/panko-api-container-puppet.yaml
Due: none

Add panko_api_cron container
  docker/services/panko-api.yaml
Due: none

Add ComputeHCIOvsDpdk role
  roles/ComputeHCIOvsDpdk.yaml
  tools/yaml-validate.py
Due: none

Fix correct network for nova-vnc
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

Fix correct network for nova-vnc
  puppet/services/nova-vnc-proxy.yaml
Due: none

Put on hold the Ansible package update until is fixed
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  deployment/undercloud/undercloud-upgrade.yaml
Due: none

Re-enable manila dashboard
  deployment/horizon/horizon-container-puppet.yaml
Due: none

OVS Revalidator and handler threads
  puppet/services/openvswitch.yaml
  releasenotes/notes/ovs-revalidator-handler-threads.yaml-f5a12d1066b042f1.yaml
Due: none

Backport miss to run discovery via bootstrap_host_exec
  docker/services/nova-compute.yaml
Due: none

Make NovaResumeGuestsStateOnHostBoot podman compatible
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Add networks to Standalone role
  roles/Standalone.yaml
Due: none

Clean docker and podman after executing an update or upgrade
  deployment/deprecated/docker/docker-baremetal-ansible.yaml
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Explicitly set ansible_python_interpreter in external upgrade playbook
  common/deploy-steps.j2
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Re-enable manila dashboard
  docker/services/horizon.yaml
Due: none

Set cache_backend for token caching
  environments/undercloud.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove disable-config-download-environment.yaml
  environments/disable-config-download-environment.yaml
  releasenotes/notes/remove-disable-config-download-environment-04f61210d0a304a1.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove get-occ-config.sh script for deployed server
  deployed-server/README.rst
  deployed-server/scripts/get-occ-config.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove os-collect-config dependency from os-net-config
  network/scripts/run-os-net-config.sh
Due: none

Remove os-collect-config related poperties and attributes
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
Due: none

Rework neutron AZ configs considering OVN
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/neutron/neutron-az-config.yaml
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  environments/neutron-az-config.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/neutron-az-config-service-3085b2c296df06c9.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix RedisVirtualIP when overrdiing InternalApi name_lower
  network/service_net_map.j2.yaml
  releasenotes/notes/bug-1832461-RedisVirtualIP-and-InternalApi-name-lower-override-7ea2635877b753c7.yaml
Due: none

Fix log owner on computes during overcloud deploy runs
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/nova_compute_fix_log_permissions-e866f91848d647fb.yaml
Due: none

Use auth_uri for Neutron API for Nova Placement
  puppet/services/neutron-api.yaml
Due: none

Fix log owner on computes during overcloud deploy runs
  docker/services/nova-compute.yaml
  releasenotes/notes/nova_compute_fix_log_permissions-e866f91848d647fb.yaml
Due: none

[FUP] Backport - krb-service-principal metadata per-Role
  environments/enable-internal-tls.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Some python improvements in common/container-puppet.py
  common/container-puppet.py
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ^deployment/ceph-ansible.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$
