Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario011-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ci/environments/scenario000-multinode-containers.yaml, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(docker|puppet)/services/.*ca-certs.*$, ^(docker|puppet)/services/.*clustercheck.*$, ^(docker|puppet)/services/.*docker.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*kernel.*$, ^(docker|puppet)/services/.*keystone.*$, ^(docker|puppet)/services/.*memcached.*$, ^(docker|puppet)/services/.*mysql.*$, ^(docker|puppet)/services/.*ntp.*$, ^(docker|puppet)/services/.*pacemaker.*$, ^(docker|puppet)/services/.*rabbitmq.*$, ^(docker|puppet)/services/.*snmp.*$, ^(docker|puppet)/services/.*timezone.*$, ^(docker|puppet)/services/.*tripleo-packages.*$, ^(docker|puppet)/services/.*tripleo-firewall.*$, ^(docker|puppet)/services/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario006-multinode-oooq-container: any of: ^coe/kubernetes.*$, ^environments/kubernetes.*$, ^extraconfig/services/kubernetes.*$, ci/environments/scenario006-multinode.yaml, ci/pingtests/scenario006-multinode.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^(docker|puppet)/services/.*.*ovn.*$, ^(docker|puppet)/services/.*tacker.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ci/environments/scenario008-multinode-containers.yaml, ^(docker|puppet)/services/(odl|opendaylight).*$, ^(docker|puppet)/services/neutron-plugin-ml2.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^coe/openshift.*$, ^environments/openshift.*$, ^extraconfig/services/openshift.*$, ^(docker|puppet)/services/.*haproxy.*$, ^(docker|puppet)/services/.*keepalived.*$, ^(docker|puppet)/services/.*mistral.*$, ci/environments/scenario009-multinode.yaml, ci/pingtests/scenario009-multinode.yaml, ^network/endpoints/.*$, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^(docker|puppet)/services/.*octavia.*$, ^deployment/ceph-ansible.*$, ci/environments/scenario010-multinode-containers.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-7-scenario011-multinode-oooq-container: any of: ci/environments/scenario011-multinode-containers.yaml, ^(docker|puppet)/services/.*ironic.*$, ^environments\/.*ironic.*$

Configure Neutron API for Nova Placement...
  puppet/services/neutron-api.yaml
  releasenotes/notes/neutron-placement-6ea6de89bd30b592.yaml
Due: none

[stable queens/pike] Use server_not_blacklisted condition
  puppet/role.role.j2.yaml
Due: none

Add new role parameter NovaLibvirtNumPciePorts
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/nova_libvirt_num_pcie_ports-f904bf0fb9a7b19e.yaml
Due: none

Add df plugin and make description consistent
  deployment/metrics/collectd-container-puppet.yaml
  environments/metrics/collectd-standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Increase neutron VNI Ranges for ML2/OVS deployments
  environments/services/neutron-ovs-dvr.yaml
  environments/services/neutron-ovs.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Revert "[queens-only] Write docker config scripts only if config exists"
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix disappearing Puppet logs
  common/container-puppet.py
  common/deploy-steps-tasks.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable Ceph RGW 'account in url' option
  deployment/ceph-ansible/ceph-base.yaml
  network/endpoints/endpoint_data.yaml
  network/endpoints/endpoint_map.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Change package installs for Stein and OS upgrade
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
  environments/lifecycle/upgrade-prepare.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove reference to removed OctaviaEventStreamerDriver param
  deployment/octavia/octavia-health-manager-container-puppet.yaml
Due: none

Remove deployed-server bootstrap resource
  deployed-server/deployed-server-bootstrap-centos.sh
  deployed-server/deployed-server-bootstrap-centos.yaml
  deployed-server/deployed-server-bootstrap-rhel.sh
  deployed-server/deployed-server-bootstrap-rhel.yaml
  deployed-server/deployed-server.yaml
  environments/deployed-server-bootstrap-environment-centos.yaml
  environments/deployed-server-bootstrap-environment-rhel.yaml
  environments/deployed-server-environment.j2.yaml
  releasenotes/notes/remove-deployed-server-bootstrap-resource-7de0596b90f1b15a.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add healthcheck to ironic_pxe_http
  deployment/ironic/ironic-pxe-container-puppet.yaml
Due: none

Add ComputeHCIOvsDpdk role
  roles/ComputeHCIOvsDpdk.yaml
  tools/yaml-validate.py
Due: none

Clean metrics related environments
  environments/metrics/collect-read-rabbitmq.yaml
  environments/metrics/collectd-standalone.yaml
  environments/metrics/collectd-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add creating br-ex for compute node in ovn
  network/config/multiple-nics/role.role.j2.yaml
  releasenotes/notes/create-br-ex-for-compute-b967312323d45d9b.yaml
  roles/Compute.yaml
  roles/ComputeDVR.yaml
  roles/Networker.yaml
  roles/README.rst
  roles_data.yaml
Due: none

Enabling Neutron Routed Provider Networks (segments)
  deployment/neutron/neutron-base.yaml
  environments/services-baremetal/neutron-ovn-dvr-ha.yaml
  environments/services-baremetal/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-dvr-ha.yaml
  environments/services/neutron-ovn-ha.yaml
  environments/services/neutron-ovn-standalone.yaml
  releasenotes/notes/neutron-routed-provider-networks-2af1220125612d6f.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Only request neutron certificate from neutron dhcp service
  docker/services/neutron-dhcp.yaml
  puppet/services/neutron-base.yaml
  puppet/services/neutron-dhcp.yaml
Due: none

Change all step checks to |int
  common/deploy-steps-tasks.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/ceph-ansible/ceph-base.yaml
  deployment/ceph-ansible/ceph-client.yaml
  deployment/ceph-ansible/ceph-external.yaml
  deployment/ceph-ansible/ceph-mds.yaml
  deployment/ceph-ansible/ceph-mgr.yaml
  deployment/ceph-ansible/ceph-mon.yaml
  deployment/ceph-ansible/ceph-nfs.yaml
  deployment/ceph-ansible/ceph-osd.yaml
  deployment/ceph-ansible/ceph-rbdmirror.yaml
  deployment/ceph-ansible/ceph-rgw.yaml
  deployment/octavia/octavia-deployment-config.j2.yaml
  extraconfig/pre_network/boot-params-service.yaml
  extraconfig/services/ipsec.yaml
  extraconfig/services/openshift-cns.yaml
  extraconfig/services/openshift-master.yaml
  extraconfig/services/openshift-node.yaml
  extraconfig/services/skydive-analyzer.yaml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix correct network for nova-vnc
  deployment/nova/nova-vnc-proxy-container-puppet.yaml
Due: none

Run ceph-ansible using tripleo-ansible-inventory
  deployment/ceph-ansible/ceph-base.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Start/enable OVS on neutron ovs agent nodes
  docker/services/neutron-ovs-agent.yaml
Due: none

Cleanup deprecated nova options
  deployment/nova/nova-base-puppet.yaml
Due: none

DVR neutron template should enable ARP responder
  environments/neutron-ovs-dvr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure we aren't running some dry-run also for Pacemaker case
  docker/services/pacemaker/haproxy.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add networks to Standalone role
  roles/Standalone.yaml
Due: none

Add panko_api_cron container
  deployment/deprecated/panko/panko-api-container-puppet.yaml
Due: none

Add more settings for glance image cache
  deployment/glance/glance-api-container-puppet.yaml
  releasenotes/notes/add_image_cache_settings-50af5ff56a7d7f75.yaml
Due: none

keystone: drop duplicate -DFOREGROUND
  deployment/keystone/keystone-container-puppet.yaml
Due: none

Env file to disable undercloud nova
  environments/undercloud-disable-nova.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add new role parameter NovaLibvirtMemStatsPeriodSeconds
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/nova_libvirt_mem_stats_period_seconds-b9b606232629cb38.yaml
  roles/ComputeOvsDpdkRT.yaml
  roles/ComputeOvsDpdkSriovRT.yaml
  roles/ComputeRealTime.yaml
  roles/ComputeSriovRT.yaml
Due: none

Configure server_certs_key_passphrase for Octavia
  ci/environments/scenario010-multinode-containers.yaml
  ci/environments/scenario010-standalone.yaml
  docker/services/octavia/octavia-deployment-config.yaml
  environments/services-baremetal/octavia.yaml
  environments/services/octavia.yaml
  puppet/services/octavia-base.yaml
  releasenotes/notes/generate-server_certs_key_passphrase-229a677df1b7f6e0.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Configure server_certs_key_passphrase for Octavia
  ci/environments/scenario010-standalone.yaml
  docker/services/octavia/octavia-deployment-config.yaml
  environments/services-baremetal/octavia.yaml
  environments/services/octavia.yaml
  puppet/services/octavia-base.yaml
  releasenotes/notes/generate-server_certs_key_passphrase-229a677df1b7f6e0.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Configure insecure registries before Pacemaker-managed image pulls
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Request certificate for using host service principals
  docker/services/database/redis.yaml
  puppet/services/database/mysql.yaml
  puppet/services/haproxy-internal-tls-certmonger.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario009-multinode-oooq-container
