Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario010-standalone: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-standalone.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*

[PowerFlex/VxFlex OS] Fix typos in templates
  deployment/cinder/cinder-backend-dellemc-powerflex-puppet.yaml
  deployment/deprecated/cinder/cinder-backend-dellemc-vxflexos-puppet.yaml
  environments/cinder-dellemc-powerflex-config.yaml
  environments/cinder-dellemc-vxflexos-config.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

[train-only] Ensure obsolete module nf_conntrack_proto_sctp is not loaded
  deployment/tripleo-packages/tripleo-packages-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

use os_net_config Ansible module to configure networking
  ci/common/net-config-multinode.yaml
  common/deploy-steps.j2
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  net-config-standalone.j2.yaml
  net-config-undercloud.j2.yaml
  network/scripts/run-os-net-config.sh
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Use UUID for mounted SwiftRawDisks
  deployment/swift/swift-storage-container-puppet.yaml
  releasenotes/notes/swift-mount-by-uuid-7744fe7696db4b85.yaml
Due: none

Get the CIDR of the neutron port for NetworkConfig
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  releasenotes/notes/bug-1895899-8d675670a0d05c15.yaml
Due: none

Configure rsyncd without pid file for Swift
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

Revert "Disable Designate service for scenario 03"
  ci/environments/scenario003-standalone.yaml
Due: none

Remove overcloud_common.pp
  common/services/role.role.j2.yaml
  puppet/manifests/overcloud_common.pp
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

[Train only] Add missing stop service steps for FFU.
  deployment/swift/swift-proxy-container-puppet.yaml
  deployment/swift/swift-ringbuilder-container-puppet.yaml
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

Allow disabling the octavia provider
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Expose max_concurrent_builds as a Heat parameter
  deployment/nova/nova-ironic-container-puppet.yaml
  releasenotes/notes/nova-max_concurrent_builds-f900d84f35704452.yaml
Due: none

Refactor OVNMacAddressNetwork
  network/networks.j2.yaml
  overcloud.j2.yaml
Due: none

Clear cached facts based on the tag as well
  common/deploy-steps-playbooks-common.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Enable Ceilometer data transfer for STF
  ci/environments/scenario001-standalone.yaml
  environments/enable-stf.yaml
  environments/metrics/ceilometer-write-qdr.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Add more metadata to logs
  deployment/logging/rsyslog-container-puppet.yaml
Due: none

Centralized logging minor fixes
  deployment/metrics/qdr-container-puppet.yaml
  deployment/pacemaker/pacemaker-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Use appropriate allocation pools for StorageNFS
  network_data_ganesha.yaml
  releasenotes/notes/fix-allocation-range-for-StorageNFS-net.yaml-bd77be924e8b7056.yaml
Due: none

Add parameters for vTPM feature
  deployment/nova/nova-compute-container-puppet.yaml
  releasenotes/notes/nova-enable_vtpm-b24db74522c8a2eb.yaml
Due: none

Add support for Glance disk_formats configuration
  deployment/glance/glance-api-container-puppet.yaml
Due: none

Adds new configuration for panko-expirer
  deployment/deprecated/panko/panko-api-container-puppet.yaml
Due: none

Check if snmpd is enabled for upgrade_tasks
  deployment/snmp/snmp-baremetal-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Check if snmpd is enabled for upgrade_tasks
  puppet/services/snmp.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Configure SNMP on undercloud
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
Due: none

Add attr of networks and subnets to Networks resource
  network/network.j2
  network/networks.j2.yaml
  overcloud.j2.yaml
Due: none

Replace bridge_name and interface_name in config
  net-config-bond.j2.yaml
  net-config-bridge.j2.yaml
  net-config-linux-bridge.j2.yaml
  net-config-static-bridge-with-external-dhcp.j2.yaml
  net-config-static-bridge.j2.yaml
  net-config-static.j2.yaml
  network/config/2-linux-bonds-vlans/role.role.j2.yaml
  network/config/bond-with-vlans/controller-no-external.j2.yaml
  network/config/bond-with-vlans/role.role.j2.yaml
  network/config/multiple-nics-vlans/compute-dvr.j2.yaml
  network/config/multiple-nics-vlans/role.role.j2.yaml
  network/config/multiple-nics/compute-dvr.j2.yaml
  network/config/multiple-nics/role.role.j2.yaml
  network/config/single-nic-linux-bridge-vlans/role.role.j2.yaml
  network/config/single-nic-vlans/controller-no-external.j2.yaml
  network/config/single-nic-vlans/role.role.j2.yaml
Due: none

Add ctlplane network attrs to Networks resource output
  network/networks.j2.yaml
  overcloud.j2.yaml
Due: none

Add ctlplane subnet attrs to group_vars
  overcloud.j2.yaml
Due: none

Replace deprecated libvirt_* options
  ci/environments/multinode-containers.yaml
  ci/environments/octavia-kvm.yaml
  ci/environments/ovb-ha.yaml
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario007-multinode-containers.yaml
  ci/environments/scenario010-multinode-containers.yaml
  deployment/nova/nova-compute-container-puppet.yaml
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario007-multinode-oooq-container

Implement a Minimal role
  roles/Minimal.yaml
  roles/README.rst
Due: none

Fix Octavia OctaviaTenantLogFacility default
  deployment/octavia/octavia-base.yaml
  releasenotes/notes/fix-octavia-tenant-log-facility-default-7b6d0670a51fe845.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Change enable-ssh-admin.sh script to use playbook
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

enable-ssh-admin: allow to override plan name
  deployed-server/scripts/enable-ssh-admin.sh
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone
