Repository openstack-archive/tripleo-heat-templates: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train: any of: common/.*$, ci/environments/scenario000-multinode-containers.yaml, ^ci/common/.*$, ^deployed-server/.*$, ^deployment/container-image-prepare/.*$, ^(deployment|docker|puppet)/.*ca-certs.*$, ^(deployment|docker|puppet)/.*clustercheck.*$, ^(deployment|docker|puppet)/.*docker.*$, ^(deployment|docker|puppet)/.*haproxy.*$, ^(deployment|docker|puppet)/.*kernel.*$, ^(deployment|docker|puppet)/.*keystone.*$, ^(deployment|docker|puppet)/.*memcached.*$, ^(deployment|docker|puppet)/.*mysql.*$, ^(deployment|docker|puppet)/.*ntp.*$, ^(deployment|docker|puppet)/.*pacemaker.*$, ^(deployment|docker|puppet)/.*rabbitmq.*$, ^(deployment|docker|puppet)/.*snmp.*$, ^(deployment|docker|puppet)/.*timezone.*$, ^(deployment|docker|puppet)/.*tripleo-packages.*$, ^(deployment|docker|puppet)/.*tripleo-firewall.*$, ^(deployment|docker|puppet)/.*sshd.*$, ^environments\/.*.yaml, ^network/endpoints/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario007-multinode-oooq-container: any of: ci/environments/scenario007-multinode-containers.yaml, ^(deployment|docker|puppet)/neutron-plugin-ml2.yaml, ^(deployment|docker|puppet)/.*.*ovn.*$, ^(deployment|docker|puppet)/.*tacker.*$, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^common/.*$, zuul.d/*
  tripleo-ci-centos-8-scenario010-standalone: any of: ^(deployment|docker|puppet)/.*octavia.*$, ^deployment/ceph-ansible.*$, ^deployment/octavia/*$, ci/environments/scenario010-standalone.yaml, ^ci/common/.*$, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*

Create container-puppet-tasks files per step in check mode
  common/host-container-puppet-tasks.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Add parameter for setting horizon session timeout
  deployment/horizon/horizon-container-puppet.yaml
  releasenotes/notes/horizon-session-timeout-ba4a62b5f38cbd11.yaml
Due: none

Use ansible for undercloud/standalone network config
  environments/standalone/standalone-tripleo.yaml
  environments/undercloud.yaml
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  sample-env-generator/standalone.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Add script to covert nic configs to use OS::Heat::Value
  tools/convert_nic_config.py
Due: none

[train-only] Fix unhealthy ovn_metadata_agent during hybrid state
  deployment/ovn/ovn-controller-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario007-multinode-oooq-container

Allow optional volumes for nova_libvirt container
  deployment/nova/nova-libvirt-container-puppet.yaml
Due: none

Also configure Ironic for UC minions
  environments/undercloud/undercloud-minion.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Add some more RoleVars needed for nic configuration
  overcloud.j2.yaml
Due: none

Configure rsyncd without pid file for Swift
  deployment/swift/swift-storage-container-puppet.yaml
Due: none

Remove sync_db parameters
  deployment/glance/glance-api-container-puppet.yaml
  deployment/neutron/neutron-api-container-puppet.yaml
  deployment/nova/nova-api-container-puppet.yaml
  deployment/octavia/octavia-api-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Set NeutronEnableDVR to False for OVN-HA
  environments/services/neutron-ovn-ha.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Assume Grafana and Ceph Dashboard to be on the storage or ctlplane nets
  network/service_net_map.j2.yaml
Due: none

Add VLAN id to ansible group_vars
  overcloud.j2.yaml
Due: none

Create NetworkConfig per-role in overcloud.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute-dvr.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/compute.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/controller.yaml
  ci/environments/network/multiple-nics-ipv6/nic-configs/swift-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/ceph-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/cinder-storage.yaml
  ci/environments/network/multiple-nics/nic-configs/compute-dvr.yaml
  ci/environments/network/multiple-nics/nic-configs/compute.yaml
  ci/environments/network/multiple-nics/nic-configs/controller.yaml
  ci/environments/network/multiple-nics/nic-configs/swift-storage.yaml
  environments/standalone/standalone-tripleo.yaml
  net-config-standalone.j2.yaml
  net-config-undercloud.j2.yaml
  overcloud.j2.yaml
  puppet/role.role.j2.yaml
  sample-env-generator/standalone.yaml
  sample-env-generator/undercloud-minion.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Cleanup NetworkConfig after moving to role-level
  environments/network-environment-v6-all.j2.yaml
  environments/network-environment-v6.j2.yaml
  environments/network-environment.j2.yaml
  network/ports/ctlplane_vip.yaml
  network/ports/noop.yaml
  network/ports/port.j2
  network/ports/port_from_pool.j2
  network/ports/vip.yaml
  network/ports/vip_v6.yaml
  network/service_net_map.j2.yaml
  overcloud.j2.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Add redis to designate environment
  environments/enable-designate.yaml
  sample-env-generator/enable-services.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Add 'NovaAllowResizeToSameHost' parameter
  deployment/nova/nova-api-container-puppet.yaml
  releasenotes/notes/allow-resize-to-same-host-62f05a5370993425.yaml
Due: none

Add deleton_policy to network resources
  network/network.j2
  releasenotes/notes/network-resources-deletion-policy-a1aee566e650468c.yaml
Due: none

Remove dashboard_frontend_vip from the ceph mgr template
  deployment/ceph-ansible/ceph-mgr.yaml
Due: tripleo-ci-centos-8-scenario010-standalone

Default cinder_volume_node_names to []
  deployment/cinder/cinder-volume-pacemaker-puppet.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

[FFU] Remove cinder's v1 keystone service
  deployment/cinder/cinder-api-container-puppet.yaml
  releasenotes/notes/cinder-v1-cleanup-7154ca07652804cf.yaml
Due: none

Add config option for collectd libpodstats
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Gather more extra stats with the collectd virt plugin
  deployment/metrics/collectd-container-puppet.yaml
Due: none

Implement a Minimal role
  roles/Minimal.yaml
  roles/README.rst
Due: none

Fix temp namespace tasks to work in check mode
  deployment/neutron/neutron-dhcp-container-puppet.yaml
  deployment/neutron/neutron-l3-container-puppet.yaml
  deployment/ovn/ovn-metadata-container-puppet.yaml
Due: tripleo-ci-centos-8-scenario007-multinode-oooq-container

Disable notification from services by default
  ci/environments/scenario001-multinode-containers.yaml
  ci/environments/scenario001-standalone.yaml
  ci/environments/scenario002-standalone.yaml
  deployment/aodh/aodh-base.yaml
  deployment/barbican/barbican-api-container-puppet.yaml
  deployment/ceilometer/ceilometer-base-container-puppet.yaml
  deployment/cinder/cinder-api-container-puppet.yaml
  deployment/deprecated/sahara/sahara-base.yaml
  deployment/experimental/designate/designate-base.yaml
  deployment/glance/glance-api-container-puppet.yaml
  deployment/heat/heat-base-puppet.yaml
  deployment/keystone/keystone-container-puppet.yaml
  deployment/manila/manila-base.yaml
  deployment/mistral/mistral-base.yaml
  deployment/neutron/neutron-base.yaml
  deployment/nova/nova-base-puppet.yaml
  deployment/octavia/octavia-base.yaml
  environments/enable-legacy-telemetry.yaml
  environments/enable-stf.yaml
  environments/metrics/ceilometer-write-qdr.yaml
  environments/services-baremetal/undercloud-ceilometer.yaml
  environments/services/undercloud-ceilometer.yaml
  releasenotes/notes/disable-notification-driver-a888d4e9b8eed1dc.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

Allow partial override about SshServerOptions
  deployment/sshd/sshd-baremetal-ansible.yaml
  deployment/sshd/sshd-baremetal-puppet.yaml
  releasenotes/notes/ssh-server-options-overrides-f677913bfd65efe1.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train

Deprecate novajoin
  deployment/deprecated/novajoin/ipaclient-baremetal-ansible.yaml
  deployment/deprecated/novajoin/novajoin-container-puppet.yaml
  deployment/ipa/ipaservices-baremetal-ansible.yaml
  deployment/tls/undercloud-remove-novajoin.yaml
  environments/services/novajoin.yaml
  environments/services/undercloud-remove-novajoin.yaml
  environments/ssl/enable-internal-tls.j2.yaml
  overcloud-resource-registry-puppet.j2.yaml
  releasenotes/notes/deprecate-novajoin-ef06b1ca33a2b80c.yaml
  roles/Undercloud.yaml
  roles_data_undercloud.yaml
  sample-env-generator/ssl.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates-train, tripleo-ci-centos-8-scenario007-multinode-oooq-container, tripleo-ci-centos-8-scenario010-standalone

[Train-only] Configure podman registries during a minor update.
  deployment/podman/podman-baremetal-ansible.yaml
Due: none

Adapt container health check for built-in podman health checks
  container_config_scripts/monitoring/collectd_check_health.py
  deployment/metrics/collectd-container-puppet.yaml
Due: none
